<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="zabbixMonitors" type="LoadTest.ZabbixConfigSection, LoadTest" />
  </configSections>
  <appSettings>
    <add key="type" value="vu"/>
    <add key="count" value="10"/>
    <add key="duration" value="10"/>
    <add key="levels" value="5"/>
    <add key="uri" value="http://www.helviojunior.com.br"/>
    <!--add key="proxy" value="http://teste:8080/"/-->
    <add key="User-Agent" value="Mozilla/5.0 (Windows NT 6.3; WOW64) Teste AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36" />
    <add key="Cookie" value="Kt=Teste123" />
  </appSettings>
  <zabbixMonitors>
    <zabbixEndpoints>
      <add name="Teste" host="172.24.0.1" port="10050" />
    </zabbixEndpoints>
  </zabbixMonitors>
  <connectionStrings>
    <add name="LoadTest" connectionString="Data Source=|DataDirectory|SafeTrend.loadtest.db" providerName="System.Data.SQLite" />
    <!--add name="LoadTest" connectionString="Data Source=127.0.0.1;Initial Catalog=load_test;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
</configuration>